.right-aling-glyphicon-cuentas {
    margin-left:95px;
  }
  .right-aling-glyphicon-trabajos{
    margin-left:90px;
  }
  .right-aling-glyphicon-clientes{
    margin-left:94px;
  }
  .right-aling-glyphicon-estados{
    margin-left:94px;
  }
  .right-aling-glyphicon-visitas{
    margin-left:104px;
  }
  .right-aling-glyphicon-contrasenna{
    margin-left:71px;
  }
  .right-aling-glyphicon-logout{
    margin-left:118px;
  }