.icon-trabajos{
    margin-left:42px;
}
.icon-estados{
    margin-left:49px;
}
.icon-materiales{
    margin-left:32px;
}
.icon-productos{
    margin-left:34px;
}
.icon-ordenes{
    margin-left:43px;
}
.icon-clientes{
    margin-left:48px;
}
.icon-visitas{
    margin-left:62px;
}
.icon-cuentas{
    margin-left:53px;
}
.icon-sucursales{
    margin-left:34px;
}
.icon-contrasena{
    margin-left:28px;
}
.icon-logout{
    margin-left:17px;
}