.formStyle { 
    padding: 10px; 
    margin-bottom: 5px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #B9B9B9; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
  }
  .formStyle1 { 
      width:115px;
  }
  .formStyle2 { 
      width:117px;
  }
  .formStyle3 { 
      width:115px;
  }
  .formStyle:focus {
    outline: none;
    border-color: #5e9bfc;
  }