#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 90.6vh;   
    background-color: #96183a;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 47px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: white !important;
    height: 35px;
}
.sidebar-separator {
    background-color: white;
    height: 25px;
}
li.logo-separator {
    background-color: #96183a;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

nav.nav-color {
    background-color: #96183a !important;  
}

.sidebar-expanded a:hover {
    background: #6C0C25 !important;
   
  }

  .sidebar-expanded {
    background-color: #96183a !important;  
    
  }

  .sidebar-color{
    background-color: #96183a !important;  
  }

  .sidebar-color-collapse{
    background-color: #96183a !important;  
  }

  .borders {
    border-bottom: 1px #e5e5e5 solid !important;
    width: 230px;
    box-shadow: 0px 0px 0px black;
  }

  .active-collapse {
    background-color: #6C0C25 !important;
  }

  .borders {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }

  .style-btn-edit {
    width:80px;
    background-color:#e0e0e0 !important;
    color: black !important;
    border:0px !important;
    margin-top:3px;
  }

  .style-btn-edit:hover {
    background-color:#CACACA !important;
    color: black;
  }

  .style-btn-search {
    /*width:62px;*/
    background-color:#e0e0e0 !important;
    color: black !important;
    border:0px !important;
    margin-top:3px;
  }

  .style-btn-search:hover {
    background-color:#CACACA !important;
    color: black;
  }


  .style-btn-success {
    background-color:#96183a !important;
    color:white !important;
    width:80px;
    border:0px !important;
    margin-top:3px;
  }

  .style-btn-success:hover {
    background-color:#333333 !important;
  }

  .style-btn-delete:hover {
    background-color:#333333 !important;
  }
  .style-btn-delete {
    background-color:#8C8C8C !important;
    color:white !important;
    border:0px !important;
    margin-top:3px;
  }

  @media only screen and (max-width: 767px)  {
    div.dropdown{
      display:none;
    }
    li.a {
      display:none;
    }
  }

  .style-return-button{
    margin-left:10px; 
    margin-right:10px;
    border-radius: 12px !important; 
    background-color:#96183a !important;
    border-color:#96183a !important;
    color: white;
    box-shadow: none !important;
    
  }

  .style-return-button:focus {
    outline: none !important;
  }


  .style-return-button:hover {
   
    border-color:white !important;
    color: white;
  }

  .style-name-button {
    background-color:#96183a !important; 
    border:0px; 
    color:#FFFFFF; 
    box-shadow: none !important;
  }

  .style-name-button:hover {
   
    border-color:white !important;
    color: white;
  }

  a.infoClient {
    color:#3A91D1 !important;
  }
  a.infoClient:hover {
    text-decoration:underline !important;
    cursor:pointer !important;
  }

  .margin-bottom-card {
    margin-bottom:25px;
  }
 
  .style-btn-registry {
    background-color:#96183a !important;
    border-color:#96183a !important;
  }

  .style-btn-registry:hover {
    background-color:#333333 !important;
    border-color:#333333 !important;
  }

  .style-btn-solve {
    background-color:#333333 !important;
    color:white !important;
    width:80px;
    border:0px !important;
    margin-top:3px;
  }

  .style-btn-solve:hover {
    cursor: no-drop !important;
  }

  .style-btn-delete-visit {
    background-color:#9D9D9D !important;
    color:white !important;
    width:67px;
    border:0px !important;
    margin-top:3px;
  }

  .style-btn-delete-visit:hover {
    cursor: no-drop !important;
  }