.border-panel {
	border-color: #C6C6C9 !important;
}

.border-header {
	border-color: #C6C6C9 !important;
}

.bg-color-panel {
	background-color: #DEDEE3!important;
}

.center {
	text-align: center;
}

.title-panel {
	text-align: center; font-size: 3vh; color:#4A4A4A;
}
